.popup__form {
	margin-top: 54px;
}

.popup__label {
	height: 46px;
	position: relative;
	display: flex;
	flex-direction: column;
	border: none;
	margin-bottom: 10px;
}

.popup__label:last-of-type {
	margin-bottom: 0;
}
